* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geomini", sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
}

.header-nav {
  background-color: #1a1a1a;
  color: #fff;
  padding: 8px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.head-logo {
  cursor: pointer;
}

.head-logo:hover a {
  text-shadow: red 0 0 5px;
}

.head-logo a {
  transition-duration: 0.4s;
  color: red;
  text-decoration: none;
}



.head-logo {
  font-size: 32px;
  font-weight: bold;
}

.head-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-form > *{
  padding: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  width: 400px;
  transition-duration: 0.4s;
}

.search-input:focus {
  outline: none;
  box-shadow: #fff 0 0 10px;
}

.search-submit {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 22px;
  outline: none;
  margin-left: -71.50px;
}

.main {
  padding-top: 86px;
}

.nav-end {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nav-end > *{
  margin: 0 10px;
}

.theme-toggle, 
.basket-link,
.login-link,
.profile-link {
  width: 50px;
  height: 50px;
  background-color: #fff;
  outline: none;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.profile-link {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
